*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    color:white;
}
 h1, h2, h3, h4,h5{
    color:#F2CB05;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    margin: 35px;
 }
 

 .conteudo{
    padding:19px;
    text-align: justify;
    background-color: #BF9004;
    font-size: 18px;
 }