
* {
    margin: 0 auto;
    padding: 60;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: linear-gradient(to right, #ff2a2a, #bd0000);;
}

nav {
    background: linear-gradient(to right, #ff2a2a, #bd0000);
    text-align: right;
    padding: 2.5em;
}
a{
    text-decoration: none;
     margin-right: 2px;
     padding: 10px;
     color: white;
 }
 
 
 h2{
    color: white;
     text-align: center;
     background: linear-gradient(to right, #ff2a2a, #bd0000);;
     padding: 1.5em;
 
 }
 
 #video-apresentacao{
     text-align: center;
    
 }
 
 #descricao-tabela{
     text-align: center;
     padding: 2em;
     background-color: red;
     color: white;
 }
 
 
 #tabela{
     padding: 15px;
     
 
 }
  table{
     border-style: none;
     padding:5px;
   
     
 }
  .black{
    background-color: black;
    color: white;
 }

.white{
    background-color: white;
    color: black;
}

 #cancelado{
    background-color: red;
 }

 footer{
     color:black;
     background-color: white;
     text-align: center;
     padding: 25px;
 }